bin/
**/bin/
*/Properties/
dist/
packages/
*resharper.user
[Dd]ebug/
[Rr]elease/
Signed Debug/
Signed Release/
obj/
*.ncb
*.suo
_ReSharper.*/
*.pdb
*.user
*.log
App_Data/
*.userprefs
*.pidb
*.resources
SGMLTests/test-results/*.xml
test-results/*.xml
*.test-cache
build/
.vs
.vscode


